.introPage-000 {
  padding: 10px;
  .showcase-card-boxes {
    padding: 100px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    height: fit-content;
  }
  .box {
    height: fit-content;
  }
}