.introPage-000 {
  .showcase-card-boxes {
    padding: 100px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .grid {
    height: fit-content;
    .box {
      height: fit-content;
      .showcase {
        padding-top: 15px;
        .image {
          height: 220px;
          width:  220px;
          .showcase-inside-image {
            height: 100%;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          }
        }
      }
    }
  }
  .box {
    height: fit-content;
  }
}