.background-clickable-true {
  transform: translateY(100vh);
  .MuiDialog-container {
    .MuiDialog-paper {
      transform: translateY(-100vh);
    }
  }
}
.content-display-block {
  .dialog-custom-actions {
    position: absolute;
    right: 25;
    top: 8;
    padding:0;
    .MuiButtonBase-root {
      svg{ font-size: 1.25rem; }
    }
  }
}
.content-display-none {
  .MuiDialog-container {
    .MuiPaper-root {
      min-width: 500px;
      .dialog-custom-actions {
        position: absolute;
        right: 40;
        top: 5;
        .MuiButtonBase-root {
          svg{ font-size: 1.25rem; }
        }
      }
      .MuiDialogContent-root {
        display: none;
      }
    }
  }
}
