
$color-1: #1a1a1a;
$color-2: #fefefe;
$pad:     10px;
.nav-mobile-mode {
  justify-content: flex-end !important;
  .nav-000 {
    margin-right: 10px !important;
    flex-direction: column;
    .button {
      align-self: end;
      li {
        list-style: none;
        padding: 10px 0 0 10px;
      }
    }
  }
}
.navs {
  z-index: 10;
  position: fixed;
  height: fit-content;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  .nav-000 {
    margin: 0;
    margin-top: 10;
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  
    align-items: center;
    padding: 0 10px;
    a {
      text-decoration: none;
        li {
        list-style: none;
        color: white;
        font-family: sans-serif;
        font-weight: bold;
        padding: 12px 16px;
        margin: 0 8px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        &::before {
          content: ' ';
          position: absolute;
          top: 0;
          left:0;
          height:100%;
          width: 100%;
          z-index:-1;
          transition: .2s;
          border-radius: 25px;
        }
          &:hover {
            &::before {
              background: linear-gradient(to bottom, #e8edec, #d2d1d3);
                box-shadow: 0px 3px 20px 0px black;
                transform: scale(1.2);
            }
            color: black;
        }
      }
    }
  }
  .nav-001 {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    ul {
      text-align: center;
      list-style-type: none;
      list-style-type: none;
      margin: 0;
      padding: 15px;
      a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px;
        &:hover {
          background-color: #111;
        }
        li {
          display: inline;
          font-family: 'Fira Sans', sans-serif;
          font-size: 17px;
        }
      }
    }
  }
  .nav-002 {
      position: fixed;
      left: 0;
    .hide{
      display: none;
    }
    .head-nav {
      li{
        &:hover{
            background-color: $color-1;
            &:before{
                background-color: $color-1;
            }
            svg{
                background: $color-1;
                fill: #ED1C5B;
            }
            a{
              color: #ED1C5B;
            }
        }
        &:before{
            position: absolute;
            left: -$pad;
            top: 0;
            width: $pad;
            height: 100%;
            content: '';
            background: #ED1C5B;
            z-index: 1;
            transition: background 400ms;
        }
      }
      ul{
          margin: {top:$pad*2;right:0;bottom:0;left:0;}
          padding: 0;
          list-style: none;
      }
      li{
          position: relative;
          clear: both;
          width: 100%;
          padding: 0;
          transition: background 400ms;
          a{
              display: flex;
              padding: {top:2vh;bottom:2vh;}
          }
      }
      a{
          align-items: center;
          width: 100%;
          color: $color-2;
          text-decoration: none;
          transition: color 400ms;
          span{
              position: relative;
              display: block;
              z-index: 0;
              font-family: Roboto;
              text-indent: -20em;
              white-space: nowrap;
              transition: text-indent 400ms ease-in-out;
          }
      }
      svg{
          position: relative;
          max-width: 80px;
          max-height: 30px;
          z-index: 1;
          fill: $color-2;
          background: #ED1C5B;
          transition: 400ms;
      }
      @media screen and (max: 768px){
          ul{
              margin: {top:$pad/4}
          }
          svg{
              max-width: 20px;
          }
      }
    }
    .main-head{
      position: fixed;
      bottom: 0;
      width: 60px;
      height: 100%;
      z-index: 1;
      background: #ED1C5B;
      transition: width 400ms;
      &:hover{
          width: 436px;
          & + .wrap-all-the-things{
              transform: translateX(336px);
              max-width: 100%;
              opacity: 0.4;
          }
          .head-nav{
              li{
                  @for $i from 1 through 4 {
                      &:nth-of-type(#{$i}){
                          span{
                              transition-delay: 100ms * $i;
                          }
                      }
                  }
              }
              span{
                  text-indent: 0;
              }
          }
      }
      @media screen and (max: 768px){
          width: 70px;
          padding: 0 $pad;
          .head-nav{
              padding: {left:7px;}
          }
          &:hover{
              .head-nav{
                  span{
                      text-indent: 1em;
                  }
              }
          }
      }
    }
    .wrap-all-the-things{
      min-height: 100%;
      height: 100%;
      padding: {left:140px;}
      margin: {top: 0;}
      background-image: url(https://download.unsplash.com/photo-1428976365951-b70e0fa5c551);
      background-size: cover;
      background-position: center center;
      transition: transform 400ms, opacity 400ms;
      @media screen and (max: 480px){
          padding: {left:70px;}
      }
    }
  }

}
