.showcasePage-000 {
  .showcase-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .product-full-screen {
      top: 0;
      left: 0;
      z-index: 1;
      width: 90%;
      height: 90%;
      position: fixed;
      margin: 3%;
     
    }
    .toggle-product-button {
      transform: translate(100px, 10px);
    }
  }
}