.pages-base-root {
  width: 100%;

  .homePage-000 {
    position: relative;
    width: 100%;
    height: fit-content;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    .intro_section {
      .pageBody {
        .grid {
          .user-info {
            width: 50%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
              font-size: 17px;
              text-align: center;
            }
            .home0buttons {
              margin: 5px;
            }
          }
          .user-dp {
            width: 40%;
            border-radius: 40px;
          }
        }
      }
    }
  }
  
}