.information-stripe {
  .stripe-box {
    display: flex;
    background-color: #2d1946;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    justify-content: center;
    margin: 5px;
    div{ 
      height: fit-content;
      width: fit-content;
      margin: auto;
      font-size: 15px;
    }
  }
}