
@media only screen and (max-width: 800px) {
  .grid {
    flex-direction: column;
  }

  .box {
   width: 100% !important; 
  }
  .information-stripe {
    flex-wrap: wrap !important;
  }
  .progress-label {width: 25% !important;}
  .progress-bar {width: 65% !important;}
  .experiencePage-000 {
    padding: 10px !important;
    .experience-box {
      .row {
        .org-name, .duration {
          margin-top: 10px;
        }
      }
    }
  }
}