
@media only screen and (max-width: 800px) {
  .navs {
    justify-content: end !important;
  }
  .nav-000 {
    flex-direction: column;
  }
  .grid {
    flex-direction: column;
  }

  .box {
   width: 100% !important; 
  }
  .information-stripe {
    flex-wrap: wrap !important;
  }
  .progress-label {width: 25% !important;}
  .progress-bar {width: 65% !important;}
}