.progress-000 {
  display: flex;
  .grid {
    flex-direction: row !important;
    grid-gap: 0px;
    text-align: center;
    .box {
      font-size: medium;
      padding: 0;
      margin-bottom: 5px;
      height: 28px;
      align-items: center;
      p {
        margin: auto;
      }
    }
    .progress-label {
      background-color: #28bfd3;
      border-radius: 0;
      display: flex;
    }
    .progress-bar {
      display: flex;
      flex-direction: row !important;
      position: relative;
      .bar {
        border-radius: 7px;
        width: 100%;
        height: 100%;
      }
      .bar::-webkit-progress-bar {
        background-color: transparent;
        background-color: rgb(204, 212, 212);
      }
      .bar::-webkit-progress-value {
        background-color: rgb(80, 155, 165);
      }
      .bar-percent {
        position: absolute;
        right: 5;
      }
    }
  }
}