.product-container {
  position: relative;
  width: 550px;
  min-width: 250px;
  height: 400px;
  min-height: 300px;
  margin: 10px 0;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  .upper-description, .images-slider, .description-mode {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: aliceblue;
    border-radius: 15px;
  }
  .upper-description {
    padding: 5%;
    background: repeating-linear-gradient(
      -55deg,
      rgba(206, 189, 221, 0.644),
      rgba(206, 189, 221, 0.644) 10px,
      rgba(223, 223, 223, 0.644) 10px,
      rgba(204, 201, 201, 0.623) 20px
    );
    p {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      text-align: center;
      color: #a52a2a9e;
      font-weight: bold;
      line-height: 25px;
      letter-spacing: 1px;
      word-spacing: 5px;
      font-style: italic;
      font-size: 20px;
      justify-content: space-around;
      align-content: center;
      overflow-y: hidden;
    }
  }
  .side-strip {
    position: absolute;
    right: 0;
    border-radius: 0 50% 50% 0;
    width: 22px;
    height: 125px;
    background-color: blueviolet;
    transform: rotate(-45deg) translate(25px, -35px);
    border-left: 1px solid rgb(120, 55, 180);
    box-shadow: rgba(148, 18, 255, 0.25) 0px 14px 28px, rgba(30, 41, 80, 0.22) 0px 10px 10px;
    .strip-value {
      text-align: center;
      transform: rotate(90deg) translate(40px, 40px);
      width: 100px;
      color: rgb(255, 255, 255);
      font-weight: 600;
    }
    .strip-corner-left {
      height: 10px;
      width: 17px;
      background-color: rgba(137, 43, 226, 0.959);
      transform: rotate(-30deg) translate(-14px, -3.5px);
      border-radius: 0 0 0 5px;
    }
    .strip-corner-right {
      height: 10px;
      width: 18px;
      background-color: rgba(137, 43, 226, 0.849);
      transform: translate(-14px);
      position: absolute;
      bottom: 0;
      transform: rotate(30deg) translate(-15px, 4px);
      border-radius: 5px 0 0 0;
    }
  }
  .side-strip:hover, .side-value:hover {
    transform: rotate(-45deg) translate(25px, -35px) scale(1.05, 1.05);
  }
  .badges {
    color: black;
    position: absolute;
    width: 75%;
    height: 60px;
    display: flex;
    overflow-x: hidden;
    transform: translate(10px, 10px);
   
    .show {
      display: block;
    }
    .hide {
      display: none;
    }
    .badge {
      width: fit-content;
      height: fit-content;
      background-color: white;
      border-radius: 10px;
      padding: 4px 8px;
      margin-right: 10px;
      transition: all 0.3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px, rgba(0, 0, 0, 0.22) 0px 1px 1px;
    }
    .badge:hover {
      background-color: rgb(255, 246, 246);
      transform: scale(1.05, 1.05);
    }
  }
  .toggle-button {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 120px;
    background-color: transparent;
    border-radius: 15px;
    .toggle-product-button {
      visibility: hidden;
      transform: translate(5px, 0px);
      height: 40px;
    }
  }
  .toggle-button:hover > .toggle-product-button {
    visibility: visible;
  }
}